@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}


body {font-family: 'Poppins', sans-serif;
    background-color: #EEE8AA;}
    img{max-width: 100%;}
    .container{
        max-width: 1200px;
    margin: 0 auto;}


.header {background-image: url(images/bg.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
align-items: center;
min-height: 80vh;
padding: 80px 0 ;}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #ffa52c;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;



}

.menu .navbar ul li {
position: relative;
float: left}

.menu .navbar ul li a {
font-size: 18px;
padding: 20px;
color: #ffffff;
font-weight: 600;
display:block}

.menu .navbar ul il a:hover {
    color: #00000000;


}

#header-txt h1 {
    font-size: 60px;
    color: #000;
}

